@import "tailwindcss";

#style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style::-webkit-scrollbar {
  width: 8px; /* thinner than 12px */
  background-color: #f5f5f5;
}

#style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
  /* min-height optional for tiny thumb on large content */
  min-height: 10px;
}

#style::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
